<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> TRENES ARGENTINOS </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form" align="center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col align-self-center>
        <ion-img src="./../../assets/icon/trenesArgentinos.jpeg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button
          class="registration"
          [routerLink]="['/registration']"
          expand="block"
          >Crear cuenta</ion-button
        >
        <ion-item class="ion-text-center">
          <ion-label>O</ion-label>
        </ion-item>
        <ion-button [routerLink]="['/login']" expand="block" class="signIn"
          >Sign In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
