# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

#Backend

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

/src/backend/node-red/**
/src/backend/node-red/.config.*
**/node-red

/db

#PlatformIO
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

#Mosquitto acl
.acl

#Ignore all certs
**/certs

# Ignore all logs
**/log

#Ignore variables enviroment
.env

#Ignore vscode files
.vscode/

#Ignore node_modules files
node_modules

#Ignore config file for nodejs -postgres 
config.js
