<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Temperaturas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item
    *ngFor="let temperatures of this.listTemp"
    routerLink="/temperatures/{{temperatures.temperature}}"
    routerDirection="root"
  >
    <ion-label> <h3>Valor medido {{temperatures.temperature}}</h3></ion-label>
    <!--    <div *ngIf="this.listTemp!== null">
      Medida del sensor:{{this.temperatures.temperature}}
    </div>-->
  </ion-item>
</ion-content>
